@import "vars";
@import "mixins";
@import "fonts";

.buttons {
  display: flex;
}

@media screen and (max-width: $tablet) {
  .buttons {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .buttons {
    flex-direction: row;
  }
}
// --------------------------------------------------------------

.button {
  position: relative;
  padding: 0;
  font-family: $font-bold;
  font-size: 1.4rem;
  letter-spacing: 0.36rem;
  text-transform: uppercase;
  border: 2px solid $color-accent;
  background-color: transparent;
  cursor: pointer;

  z-index: 1;

  &__search {
    width: 282px;
    height: 8rem;

    @include button-hover;

    &:hover {
      color: $header-bg;
    }

    &--perf {
      width: 198px;
      height: 6rem;
    }
  }

  &__play {
    display: flex;
    height: 80px;
    margin-left: 3rem;
    border: none;
    line-height: 80px;

    span {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
      margin-right: 1.5rem;
      background-color: #012572;
      border-radius: 50%;

      svg {
        width: 70px;
        height: 70px;
        margin-top: 4px;
        fill: $color-accent;
        transition: scale 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__menu {
    z-index: -2;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 0;
    height: 0;
    font-size: 0;
    right: 0;
    top: 1.7rem;
    border: none;
    outline: none;
    transition: all 0.5s ease;

    &.active {
      display: block;
      width: 50px;
      height: 50px;
      cursor: pointer;
      pointer-events: auto;
      opacity: 1;
      z-index: 11;

      &.is-open {
        transform: translate(-5px, -10px);
      }
    }
  }

  &__form {
    width: 40rem;
    height: 6rem;
    margin: 0 auto;
    line-height: 6rem;
    letter-spacing: 0.28rem;

    @include button-hover;

    &:hover {
      color: #0f152c;
    }
  }
}

@media screen and (max-width: $tablet) {
  .button {
    &__search {
      width: 150px;
      height: 5rem;
      margin-bottom: 2rem;
    }

    &__play {
      width: 170px;
      height: 45px;
      line-height: 45px;
      margin-left: 0;
      letter-spacing: 0.3rem;
      align-self: flex-end;

      span {
        width: 45px;
        height: 45px;
        margin-right: 0.5rem;

        svg {
          width: 38px;
          height: 38px;
          margin-top: 3px;
        }
      }
    }

    &__form {
      width: 150px;
      height: 5rem;
      line-height: 4rem;
    }
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .button__play {
    margin-left: 3rem;
    height: 8rem;
    line-height: 8rem;

    span {
      width: 8rem;
      height: 8rem;

      img {
        margin-top: 0.4rem;
        margin-bottom: 0;
        width: 89%;
        height: 89%;
      }

      svg {
        width: 7rem;
        margin-top: -3px;
      }
    }
  }
}
// --------------------------------------------------------------

.sold {
  color: #fb516e;
  border-color: #2b314b;
  cursor: not-allowed;

  &:hover::after {
    display: none;
  }

  &:hover {
    color: #fb516e;
  }

  &:focus {
    outline: none;
  }
}

.popular {
  color: $color-accent;
  background-color: #032c9e;
  border-color: #032c9e;

  &:hover {
    border-color: $color-accent;
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;

  .line {
    transition: stroke-dasharray 0.5s cubic-bezier(0.77, 0, 0.175, 1);
		stroke-width: 4px;
		stroke-linecap: butt;
		stroke-linejoin: round;
		fill: none;
		fill-rule: evenodd;
		vector-effect: non-scaling-stroke;
    stroke: $color-accent;

    &--first {
      stroke-dasharray: 0px 0px 30px 60px;
    }

    &--second {
      stroke-dasharray: 0px 0px 30px 60px;
    }

    &--third {
      stroke-dasharray: 0px 0px 30px 100px;
    }
  }
}

.hamburger.is-open {
  transform: translateX(-5px);

  .line {

    &--first {
    stroke-dasharray: 0px 53px 25px 70px;
    }

    &--second {
      stroke-dasharray: 0px 53px 25px 70px;
    }

    &--third {
      stroke-dasharray: 0px 0px 0px 100px;
    }
  }
}

@media screen and (max-width: $desktop) {
  .hamburger.is-open {
    .line {
      stroke: #1b2550;
    }
  }
}
