@import "vars";
@import "mixins";
@import "fonts";

.buttons {
  display: flex;
}

@media screen and (max-width: $tablet) {
  .buttons {
    flex-direction: column;
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .buttons {
    flex-direction: row;
  }
}
// --------------------------------------------------------------

.button {
  position: relative;
  padding: 0;
  font-family: $font-bold;
  font-size: 1.4rem;
  letter-spacing: 0.36rem;
  text-transform: uppercase;
  border: 2px solid $color-accent;
  background-color: transparent;
  cursor: pointer;

  z-index: 1;

  &__search {
    width: 282px;
    height: 8rem;

    @include button-hover;

    &:hover {
      color: $header-bg;
    }

    &--perf {
      width: 198px;
      height: 6rem;
    }
  }

  &__play {
    display: flex;
    height: 80px;
    margin-left: 3rem;
    border: none;
    line-height: 80px;

    span {
      position: relative;
      display: block;
      width: 80px;
      height: 80px;
      margin-right: 1.5rem;
      background-color: #012572;
      border-radius: 50%;

      img {
        margin-top: 4px;
      }
    }
  }

  &__menu {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 0;
    right: 0;
    top: 7px;
    border: none;

    &.active {
      display: block;
      cursor: pointer;
      transition: transform 1s ease;

      &.is-open {
        transform: translateX(-5px);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .button {
    &__search {
      width: 200px;
      height: 5rem;
      margin-bottom: 2rem;
    }

    &__play {
      width: 200px;
      height: 50px;
      line-height: 50px;
      margin-left: 0;

      span {
        width: 50px;
        height: 50px;

        img {
          width: 35px;
          height: 35px;
          margin-top: 7px;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .button__play {
    margin-left: 3rem;
    height: 8rem;
    line-height: 8rem;

    span {
      width: 8rem;
      height: 8rem;

      img {
        margin-top: 0.4rem;
        margin-bottom: 0;
        width: 89%;
        height: 89%;
      }
    }
  }
}

@media screen and (min-width: $desktop + 1) {
  .button__menu {
    display: none;
  }
}
// --------------------------------------------------------------

.sold {
  color: #fb516e;
  border-color: #2b314b;

  &:hover {
    color: #fb516e;
    border-color: $color-accent;
  }
}

.popular {
  color: $color-accent;
  background-color: #032c9e;
  border-color: #032c9e;

  &:hover {
    border-color: $color-accent;
  }
}

.hamburger {
  position: absolute;
  right: 0;

  .line {
    transition: stroke-dasharray 1s cubic-bezier(0.77, 0, 0.175, 1);
		stroke-width: 4px;
		stroke-linecap: butt;
		stroke-linejoin: round;
		fill: none;
		fill-rule: evenodd;
		vector-effect: non-scaling-stroke;
    stroke: $color-accent;

    &--first {
      stroke-dasharray: 0px 0px 30px 60px;
    }

    &--second {
      stroke-dasharray: 0px 0px 30px 60px;
    }

    &--third {
      stroke-dasharray: 0px 0px 30px 100px;
    }
  }
}

.is-open {
  transform: translateX(-5px);

  .line {
    &--first {
    stroke-dasharray: 0px 53px 25px 70px;
    }

    &--second {
      stroke-dasharray: 0px 53px 25px 70px;
    }

    &--third {
      stroke-dasharray: 0px 0px 0px 100px;
    }
  }
}
