.form-wrapper {
  z-index: 101;
  position: fixed;
  top: 0;
  right: -600px;
  bottom: 0;
  width: 550px;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  transition: right 0.3s;
}

.popup__close {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 23px;
  top: 18px;
  display: block;
  margin: 0;
  cursor: pointer;
  outline: 0;
  transition: opacity .2s;
  height: 20px;
  position: absolute;
  top: 20px!important;
  right: 20px!important;
  line-height: 20px;
  border: 0;
  background-color: transparent;
  color: black;
  padding-right: 35px;

    &::before {
      position: absolute;
      right: 0;
      top: 9px;
      content: "";
      width: 20px;
      height: 2px;
      background-color: #232323;
      transform: rotate(45deg);
    }

    &::after {
      position: absolute;
      content: "";
      top: 9px;
      right: 0;
      width: 20px;
      height: 2px;
      background-color: #232323;
      transform: rotate(-45deg);
    }
}

.form-content {
  height: 100%;
  background-color: white;
  width: 450px;
  margin-left: auto;
  color: black;
  font-size: 3rem;
  padding: 2rem;
}

.button-contact {
  z-index: 100;
  display: none;
  position: fixed;
  top: 50%;
  right: -48px;
  width: 134px;
  padding: 5px;
  color: #fff;
  background-color: red;
  font-size: 21px;
  writing-mode: tb-rl;
  transform: rotate(270deg);
  cursor: pointer;
}
