@import "vars";
@import "mixins";
@import "fonts";

header {
  padding-top: 4.5rem;
  background-color: $header-bg;
  font-family: $font-bold;
  font-weight: 700;
  letter-spacing: 0.6rem;
  text-transform: uppercase;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.logo__wrapper {
  @include clear;
  display: flex;
  align-items: center;
  font-size: 2.4rem;

  span {
    padding: 1rem;
    margin-right: 1rem;
    background-color: #032c9e;
  }
}

.menu {
  display: flex;
}

.menu__list {
  @include clear;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 0.24rem;

  &--nav {
    margin-right: 2rem;
  }
}

.menu__item {
  position: relative;

  &--nav.current::after {
    @include pseudo-el;
    top: calc(50% - 1px);
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  &--social {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    line-height: 48px;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    transition: all 0.2s;
    z-index: 1;

    &:last-of-type {
      margin-right: 0;
    }

    svg {
      fill: #ffffff;
    }

    @include button-hover;

    &:hover svg {
      fill: #0134a0;
    }
  }
}

.menu__link {
  position: relative;
  text-decoration: none;

  &--nav {
    padding: 1.05rem 1.25rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.2s, border-color 0.3s;

    &::after {
      @include pseudo-el;
      bottom: 0;
      right: 0;
      height: 0;
      border-right: 1px solid transparent;
      transition: height 0.3s, border-color 0s;
    }

    &::before {
      @include pseudo-el;
      top: 0;
      bottom: 0;
      right: 0;
      height: 0;
      border-left: 1px solid transparent;
      transition: height 0.3s, border-color 0s;
    }

    &:hover::before,
    &:hover::after {
      height: 100%;
      transition-delay: 0.1s;
      border-color: #ffffff;
    }

    &:hover::before {
      bottom: 0;
    }

    &:hover::after {
      height: 100%;
    }

    &:hover {
      border-color: #ffffff;
      outline: none;
    }
  }

  &--facebook {
    svg {
      margin-left: -6px;
      margin-top: -2px;
    }
  }

  &--twitter {
    svg {
      margin-bottom: 2px;
    }
  }

  &--instagram {
    svg {
      margin-top: 10px;
    }
  }
}

.menu__item--nav.current .menu__link--nav {
  border: 0;

  &:hover::before,
  &:hover::after {
    height: 0;
    border: none;
  }
}

.menu__button {
  display: none;
}
