@import "vars";
@import "mixins";
@import "fonts";

header {
  padding-top: 4.5rem;
  background-color: $header-bg;
  font-family: $font-bold;
  font-weight: 700;
  letter-spacing: 0.6rem;
  text-transform: uppercase;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: $tablet) {
  header .wrapper {
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: start;
  }
}
// --------------------------------------------------------------

.logo__wrapper {
  @include clear;
  display: flex;
  align-items: center;
  font-family: $font-bold;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;

  span {
    padding: 1rem;
    margin-right: 1rem;
    background-color: #032c9e;
  }

  &--albums {
    margin-bottom: 1.5rem;

    span {
      padding: 0.7rem 1.2rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .logo__wrapper {
    margin-bottom: 0.5rem;
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .logo__wrapper {
    align-self: baseline;
  }
}
// --------------------------------------------------------------

.menu {
  display: flex;
}

@media screen and (max-width: $desktop) {
  .menu {
    margin-left: auto;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.menu__list {
  @include clear;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 0.24rem;

  &--nav {
    margin-right: 2rem;
    transition: opacity, right 0.3s;

    &.active {
      position: fixed;
      top: 0;
      visibility: hidden;
      z-index: -1;
      opacity: 0;
      transition: right 0.3s;
      background-color: rgba(15, 21, 44, 0.6);
      padding: 3rem 8rem 3rem 3rem;
      margin-right: 0;
      border-bottom-left-radius: 1.4rem;
    }

    &.is-open {
      z-index: 10;
      opacity: 1;
      visibility: visible;
      transition: right 0.3s;
    }
  }
}

@media screen and (max-width: $desktop) {
  .menu__list--nav {
    overflow: auto;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .menu__list--social {
    align-self: flex-end;
  }
}

@media screen and (max-width: $tablet) {
  .menu__list--social {
    padding-right: $mobile-padding;
  }

  .menu__list--nav.active {
    position: fixed;
    padding: 2rem;
    display: flex;
    width: 40%;
    margin-right: 0;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: $color-accent;
    z-index: 2;
    border-bottom-left-radius: 22px;
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .menu__list--nav {
    margin-right: 0;
    margin-bottom: 2rem;
    padding-top: 1.4rem;
    padding-bottom: 1.2rem;
  }
}

.menu__item {
  position: relative;

  &--nav.current::after {
    @include pseudo-el;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  &--social {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    line-height: 48px;
    text-align: center;
    border: 1px solid white;
    background-color: transparent;
    transition: all 0.2s;
    z-index: 1;

    &:last-of-type {
      margin-right: 0;
    }

    svg {
      fill: #ffffff;
    }

    @include button-hover;

    &:hover svg {
      fill: #0134a0;
    }
  }
}

@media screen and (max-width: $tablet) {
  .menu__item--social {
    border: 0;
  }

  .menu__item--nav {
    margin: 1rem 1rem 2rem 0;
  }
}
.menu__link {
  position: relative;
  text-decoration: none;

  &--nav {
    padding: 1.05rem 1.25rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: padding 0.2s, border-color 0.3s;

    &::after {
      @include pseudo-el;
      bottom: 0;
      right: 0;
      left: 0;
      height: 0;
      border-right: 1px solid transparent;
      transition: height 0.3s, border-color 0s;
    }

    &::before {
      @include pseudo-el;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 0;
      border-left: 1px solid transparent;
      transition: height 0.3s, border-color 0s;
    }

    &:hover::before,
    &:hover::after {
      height: 100%;
      transition-delay: 0.1s;
      border-color: #ffffff;
    }

    &:hover::before {
      bottom: 0;
    }

    &:hover::after {
      height: 100%;
    }

    &:hover {
      border-color: #ffffff;
      outline: none;
    }
  }

  &--facebook {
    svg {
      margin-left: -6px;
      margin-top: -2px;
    }
  }

  &--twitter {
    svg {
      margin-bottom: 2px;
    }
  }

  &--instagram {
    svg {
      margin-top: 10px;
    }
  }
}

.menu__item--nav.current .menu__link--nav {
  border: 0;

  &:hover::before,
  &:hover::after {
    height: 0;
    border: none;
  }
}

.menu__button {
  display: none;
}
