@import "vars";
@import "mixins";
@import "fonts";

.introduction {
  position: relative;
  padding-top: 16rem;
  padding-bottom: 44rem;
  font-family: $font-bold;
  background-color: $header-bg;
  clip-path: polygon(0 75%, 100% 100%, 100% 0, 0 0);
  z-index: 6;

  &__title {
    display: flex;
    width: 49.8%;
    margin-bottom: 2rem;
    font-size: 3.6rem;
    letter-spacing: 0.9rem;
    text-transform: uppercase;
    background-color: #1b2550;

    h2 {
      padding-left: 1rem;
      font-size: 3.5rem;
      margin-right: auto;
    }

    span:first-of-type {
      display: block;
      width: 2rem;
      background-color: #fb516e;
    }

    span:nth-of-type(2) {
      width: 6rem;
      background-color: #6aff7f;
    }
  }

  &__big-text {
    @include clear;
    font-size: 12rem;
    letter-spacing: -0.12rem;
    text-transform: uppercase;
  }

  &__text {
    @include clear;
    margin-bottom: 4rem;
    font-family: $font-medium;
    font-size: 3.6rem;
  }
}

@media screen and (max-width: $desktop) {
  .introduction__big-text {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: $tablet) {
  .introduction {
    padding-top: 8rem;
    padding-bottom: 4rem;

    &::before {
      bottom: -12.9rem;
      height: 13rem;
      clip-path: polygon(0 0, 100% 0, 100% 13rem, 0 0);
    }

    &__title {
      width: 210px;
      margin-bottom: 1.8rem;
      font-size: 1.6rem;

      h2 {
        padding-right: 0;
        margin-right: auto;
      }
    }

    &__big-text {
      font-size: 4rem;
    }

    &__text {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .introduction {
    padding-top: 15rem;
    padding-bottom: 13rem;

    &::before {
      bottom: -16.9rem;
      height: 17rem;
      clip-path: polygon(0 0, 100% 0, 100% 17rem, 0 0);
    }

    &__title {
      width: 316px;
      font-size: 2.3rem;
    }

    &__big-text {
      font-size: 8rem;
    }

    &__text {
     font-size: 2.6rem;
     margin-bottom: 3rem;
    }
  }
}
