@import "vars";
@import "mixins";
@import "fonts";

.news-section {
  position: relative;
  margin-top: -23rem;
  padding-top: 45.4rem;
  padding-bottom: 30.5rem;
  background-color: #013599;
  background-image: url('../img/newsBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  clip-path: url(#wave);
  z-index: 2;

  .wrapper {
    position: relative;
  }

  .divider {
    margin-bottom: 4.6rem;
  }

  .button__search {
    width: 200px;
    height: 6.5rem;
  }
}

@media screen and (max-width: $tablet) {
  .news-section {
    margin-top: -29rem;
    padding-top: 18.4rem;
    background-image: none;

    .wrapper {
      padding-left: 2.5rem;
      padding-right: 0;
    }
  }
}

.news {
  display: flex;
  flex-wrap: wrap;

  &__list {
    width: 56rem;
    margin-right: 10rem;
    flex-shrink: 0;
    background-color: rgba(51, 203, 204, 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__title {
    padding: 5rem 7rem 4.3rem;
    font-family: $font-semibold;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.9rem;
    cursor: pointer;
  }

  &__item {

    &:first-of-type .news__title {
      background-color: rgba(51, 203, 204, .7);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:nth-of-type(2) .news__title {
      background-color: rgba(3, 44, 158, .7);
    }

    &:nth-of-type(3) .news__title {
      background-color: rgba(3, 44, 158, .5);
    }
  }

  &__link-view-all {
    position: relative;
    width: 56rem;
    padding: 5rem 7rem;
    font-family: $font-medium;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.9rem;
    background-color: rgba(51, 203, 204, 0.4);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;

    &::before {
      @include pseudo-el;
      top: calc(50% - 1px);
      left: 45.5%;
      width: 17px;
      height: 2px;
      background-color: $color-accent;
    }

    &::after {
      @include pseudo-el;
      top: calc(50% - 5px);
      left: 46.4%;
      width: 9px;
      height: 9px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(-45deg);
    }
  }

  &__content {

    &-wrapper {
      width: 0;
      height: 0;
      transition: height 0.3s;
      background-color: #032c9e;
      border-left: 8px solid #6aff7f;
      margin-left: -8px;
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
    }

    &-data {
      margin-bottom: 1rem;
      font-family: $font-bold;
      font-size: 0;
      font-weight: 700;
      letter-spacing: 0.13rem;
      text-transform: uppercase;
    }

    &-title {
      margin-bottom: 1.4rem;
      font-family: $font-semibold;
      font-size: 0;
      font-weight: 600;
    }

    &-text {
      font-family: $font-RobotoRegular;
      font-size: 0;
      font-weight: 400;
      line-height: 2.4rem;
      color: #5882f5;
    }

    &-current-title {
      margin-bottom: 3.7rem;
      font-family: $font-semibold;
      font-size: 6rem;
      font-weight: 600;
      line-height: 7.2rem;
    }

    &-current-data {
      margin-bottom: 4rem;
      font-family: $font-bold;
      font-size: 1.6rem;
		  font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.32rem;
    }

    &-current-text {
      margin-bottom: 3rem;
      font-family: $font-RobotoRegular;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 3rem;
    }
	}

  &__content-current {
    width: 51rem;
  }

	&__type {
		margin-bottom: 2rem;
		font-family: $font-bold;
    font-size: 1.8rem;
		font-weight: 700;
		text-transform: uppercase;
  }

  &__decor {
    @include pseudo-el;
    left: 4rem;
    top: 728rem;
    width: 20.5rem;
    height: 20.5rem;
    z-index: 5;
    clip-path: circle(10rem at 50% 50%);
    background: linear-gradient(310deg, #26feff, #072293);
  }
}

@media screen and (max-width: $tablet) {
  .news {
    flex-direction: column;

    &__list {
      width: 100%;
      display: flex;
      margin-bottom: 4rem;
      overflow: auto;
    }

    &__item {
      width: 35rem;
      flex-shrink: 0;

      &:first-of-type .news__title {
        border-top-right-radius: 0;
      }

      &:last-of-type .news__title {
        border-top-right-radius: 10px;
      }
    }

    &__title {
      padding: 3rem;
      line-height: 2.5rem;
      border-radius: 0;
    }

    &__content-wrapper {
      border-left: 0;
      border-right: 3px solid #6aff7f;
      margin-left: 0;
    }

    &__decor {
      display: none;
    }

    &__content-current {
      order: 2;
    }
  }
}

.news__content-wrapper.is-open {
  width: calc(100% + 8px);
  height: auto;
  padding: 5rem 7rem 5.3rem;
  animation-name: fadeIn;
  animation-duration: 1s;

  .news__content-data {
    font-size: 1.3rem;
  }

  .news__content-title {
    font-size: 2.6rem;
  }

  .news__content-text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: $tablet) {
  .news__content-wrapper.is-open {
    width: 100%;
    padding: 3rem;
    border-right: 3px solid #6aff7f;
    margin-left: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
