.performances {
  position: relative;
  margin-top: -24rem;
  padding-top: 34.4rem;
  padding-bottom: 62rem;
  background-color: #131a37;
  background-image: url('../img/liveDatesBg.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 101%;
  background-size: cover;
  clip-path: url(#wave);
  z-index: 5;

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrapper_ {
    display: flex;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: $tablet) {
  .performances {
    padding-top: 22.4rem;
    padding-bottom: 28rem;
    clip-path: url(#smallwave);
  }
}

.performance {
  &__title {
    @include title;
    margin-bottom: 4rem;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #48547c;

    &:nth-of-type(2)::before{
      @include pseudo-el;
      top: 23%;
      left: -14.4%;
      width: 9.6rem;
      height: 9.6rem;
      background: linear-gradient(310deg,#26feff,#072293);
      border-radius: 50%;
    }

    &:nth-of-type(3)::before{
      @include pseudo-el;
      top: -12%;
      left: -6.5%;
      width: 3.8rem;
      height: 3.8rem;
      background-color: #6aff7f;
      border-radius: 50%;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &__data {
    display: flex;
    margin-right: 3rem;
  }

  &__date {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.3rem;
    font-family: $font-semibold;
    font-size: 3rem;
    line-height: 1.9rem;
    letter-spacing: 0.048rem;

    color: #fb516e;
    background-color: #1b2550;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    span {
      display: block;
      margin-top: 1.3rem;
      font-size: 1.8rem;
      letter-spacing: 0.036rem;
      text-transform: uppercase;
    }

    &.popular {
      background-color: #032c9e;
    }
  }

  &__image {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-family: $font-regular;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #778fc3;

    b {
      margin-bottom: 1.5rem;
      font-size: 2.6rem;
      color: $color-accent;
    }
  }

  &__location {
    display: flex;
    flex-direction: column;
    margin-right: 8.3rem;
    font-family: $font-regular;
    font-size: 1.6rem;
    line-height: 3.2rem;
  }

  &__time {
    color: #64f07a;
  }

  &__address {
    color: #778fc3;
  }

  &__address,
  &__time {
    position: relative;
    padding-left: 3.5rem;

    &::before {
      @include pseudo-el;
      width: 16px;
      height: 16px;
      top: 4px;
      left: 0;
      background-image: url('../img/compass.png');
    }
  }

  &__time::before {
    background-image: url('../img/time.png');
  }

  &__more {
    font-size: 1.8rem;
    font-family: $font-medium;
    text-decoration: none;
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .performance {
    &__location {
      margin-right: 1.3rem;
      line-height: 3.2rem;
    }

    &__data {
      margin-right: 2rem;
    }

    &__description {
      margin-right: 1rem;
      line-height: 3rem;
    }

    &__item:nth-of-type(3)::before {
      display: none;
    }
  }
}

@media screen and (max-width: $tablet) {
  .performance {
    &__title {
      font-size: 4rem;
      margin-bottom: 2rem;
    }

    &__item {
      flex-wrap: wrap;
      align-items: flex-start;

      &:nth-of-type(2)::before,
      &:nth-of-type(3)::before {
        display: none;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    &__data {
      margin-right: 2rem;
      margin-bottom: 3rem;
    }

    &__description {
      margin-right: 8rem;
      margin-bottom: 3rem;
    }

    &__location {
      margin-right: auto;
    }
  }
}
