@import "vars";
@import "mixins";
@import "fonts";

.sign-up {
  margin-top: -49rem;
  padding-top: 77.4rem;
  padding-bottom: 50rem;
  background-color: #0f152c;
  background-image: url('../img/signBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0;
  background-position-x: center;
  z-index: 1;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    position: relative;
    @include title;
    margin-bottom: 5rem;

    &::after {
      @include pseudo-el;
      left: -8rem;
      bottom: 23rem;
      width: 7.7rem;
      height: 7.7rem;
      background-color: #fb516e;
      border-radius: 50%;
    }

    &::before {
      @include pseudo-el;
      left: -14rem;
      top: -22rem;
      width: 3.4rem;
      height: 3.4rem;
      background-color: #6aff7f;
      border-radius: 50%;
    }
  }

  .divider {
    margin-bottom: 3.2rem;
  }

  &__text {
    margin-bottom: 9rem;
    font-family: $font-RobotoRegular;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: #778fc3;
  }
}

@media screen and (max-width: $tablet) {
  .sign-up {
    margin-top: -13rem;
    padding-top: 14rem;
    padding-bottom: 31rem;
    background-size: contain;
    background-position-y: 42.4rem;

    h2 {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 2rem;
      align-self: flex-start;
    }

    .divider {
      align-self: flex-start;
    }

    &__text {
      margin-bottom: 5rem;
      align-self: flex-start;
    }
  }
}

@media screen and (max-width: 359px) {
  .sign-up {
    background-position-y: 39.8rem;
  }
}

.form {
  &__item-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
  }

  &__input {
    width: 40rem;
    padding: 1rem;
    font-family: $font-bold;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $color-accent;
    transition: border-color 0.3s;

    &.error {
      border-color: red;
    }

    &.changed {
      color: $color-accent;
      background-color: transparent;
    }
  }

  &__label {
    @include pseudo-el;
    top: 0.5rem;
    font-family: $font-bold;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
    transition: transform, top, 0.4s;
  }
}

@media screen and (max-width: $tablet) {
  form {
    text-align: center;
  }
}

@media screen and (max-width: 359px) {
  .form__input {
      width: 34rem;
  }
}

.form__input:hover ~ .form__label,
.form__input:focus ~ .form__label,
.form__input:focus ~ .form__label,
.form__input.changed ~ .form__label, {
  display: block;
  top: -2rem;
  transform: scale(0.6);
}
