@import "vars";
@import "mixins";
@import "fonts";

.social-section {
  position: relative;
  background-color: #000000;
  padding-top: 20rem;
  padding-bottom: 37rem;
  margin-top: -25rem;

  background-image: url('../img/social-bg.jpg');
  background-position-x: center;
  background-position-y: 28%;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 98%, 100% 88%, 100% 11%, 0 0);
  z-index: 3;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 34rem;
  }

  h2 {
    @include title;
    line-height: 8rem;
    margin-bottom: 1.5rem;
    padding-top: 11rem;
  }

  .divider {
    margin-bottom: 3.3rem;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
  }

  &__menu-button {
    position: relative;
    margin-bottom: 2.2rem;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 0.028rem;
    text-transform: uppercase;
    border-right: 0;
    border-left: 0;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s;

    &.current {
      color: #fb516e;
    }
  }

  &__posts {
    display: flex;
  }

  &__posts-left,
  &__posts-right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 0;
    visibility: hidden;
    z-index: -1;
    opacity: 0;

    &-wrapper {
      @include pseudo-el;
      width: 100%;
    }

    &.active {
      visibility: visible;
      z-index: 0;
      opacity: 1;
      height: 100%;
      width: 37rem;
    }
  }

  &__posts-left {
    margin-right: 3rem;

    &-wrapper {
      bottom: 0;
      left: -100%;
      transition: bottom, left, 0.3s;
    }
  }

  &__posts-right {

    &-wrapper {
      top: 0;
      left: 100%;
      transition: top, left, 0.3s;
    }
  }

  &__post {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    transition: height 0.3s;

    &:first-of-type {
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .social-section {
    padding-top: 14rem;
    padding-bottom: 30rem;
    background-image: none;
    clip-path: polygon(0 94%, 100% 88%, 100% 6%, 0 0);
    background: linear-gradient(120deg, #fd5960, #101783);

    .wrapper {
      padding-top: 0;
      flex-direction: column;
    }

    h2 {
      font-size: 4rem;
      line-height: 1.9rem;
      padding-top: 0;
      margin-bottom: 2rem;

      br {
        display: none;
      }
    }

    &__posts {
      flex-direction: column;
    }

    &__posts-left,
    &__posts-right {
      position: relative;

      &.active {
        margin: 0 auto;
      }
    }

    &__posts-left-wrapper,
    &__posts-right-wrapper {
      position: relative;
    }

    &__menu-list {
      flex-direction: row;
      width: 107%;
      overflow: auto;
    }

    &__menu-button.current {
      color: #032c9e;
    }
  }
}

.social-section__posts-right .social-section__post:first-of-type {
  margin-top: 11rem;
}

@media screen and (max-width: $tablet) {
  .social-section__posts-right .social-section__post:first-of-type {
    margin-top: 0;
  }
}

.social-section__posts-left .social-section__post:last-of-type {
  margin-bottom: 11rem;
}

@media screen and (max-width: $tablet) {
  .social-section__posts-left .social-section__post:last-of-type {
    margin-bottom: 3rem;
  }
}

.social-section__posts-right.hide .social-section__posts-right-wrapper {
  top: 100%;
}

.social-section__posts-left.hide .social-section__posts-left-wrapper {
  bottom: 100%;
}

.social-section__posts-right.hide .social-section__posts-right-wrapper,
.social-section__posts-left.hide .social-section__posts-left-wrapper {
  .social-section__post {
    height: 0;
  }

  .social-section__post * {
    height: 0;
  }
}

.social-section__posts-left.active .social-section__posts-left-wrapper,
.social-section__posts-right.active .social-section__posts-right-wrapper {
  left: 0;
}
