@font-face {
  font-weight: 300;
  font-family: "BarlowLight";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/Barlow/Barlow-Light.ttf") format("true type");
}

@font-face {
  font-weight: 400;
  font-family: "BarlowRegular";
  font-style: normal;
  font-display: swap;

  src: url('../fonts/Barlow/Barlow-Regular.ttf') format("true type");
}

@font-face {
  font-weight: 500;
  font-family: "BarlowMedium";
  font-style: normal;
  font-display: swap;

  src: url('../fonts/Barlow/Barlow-Medium.ttf') format("true type");
}

@font-face {
  font-weight: 600;
  font-family: "BarlowSemiBold";
  font-style: normal;
  font-display: swap;

  src: url('../fonts/Barlow/Barlow-SemiBold.ttf') format("true type");
}

@font-face {
  font-weight: 700;
  font-family: "BarlowBold";
  font-style: normal;
  font-display: swap;

  src: url('../fonts/Barlow/Barlow-Bold.ttf') format("true type");
}

@font-face {
  font-weight: 300;
  font-family: "RobotoLight";
  font-style: normal;
  font-display: swap;

  src: url('../fonts/Roboto/RobotoLight.ttf') format("true type");
}

@font-face {
  font-weight: 400;
  font-family: "RobotoRegular";
  font-style: normal;
  font-display: swap;

  src: url('../fonts/Roboto/RobotoRegular.ttf') format("true type");
}
