@import "vars";
@import "mixins";

@media screen and (max-width: $desktop) {
  :root {
    font-size: 8px;
  }

  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: $tablet) {
  body {
    width: 100%;
  }

  .wrapper {
    padding: 0 $mobile-padding;
  }

  .divider {
    margin-bottom: 3.5rem;
  }

  .menu__list--nav.active + .button__menu.active span {
    top: 22px;
  }

  .menu__list--nav.active + .button__menu.active span::before {
    width: 50%;
    top: -2px;
    left: 6px;
    transform: translateX(-8px) translateY(4px) rotate(-45deg);
  }

  .menu__list--nav.active + .button__menu.active span::after {
    bottom: -4px;
    left: 8px;
    transform: translateX(-8px) translateY(-4px) rotate(45deg);
  }

  .menu__list--nav.active + .button__menu.active span {
    top: 22px;
  }

  .menu__list--nav.active + .button__menu.active span::before {
    width: 50%;
    top: -2px;
    left: 6px;
    transform: translateX(-8px) translateY(4px) rotate(-45deg);
  }

  .menu__list--nav.active + .button__menu.active span::after {
    width: 43%;
    bottom: -4px;
    left: 8px;
    transform: translateX(-8px) translateY(-4px) rotate(45deg);
  }
}

@media screen and (min-width: $tablet + 1) and (max-width: $desktop) {
  .wrapper {
    padding: 0 $tablet-padding;
  }
}
