$font-bold: "Barlow", "Arial", sans-serif;
$font-medium: "Barlow", "Arial", sans-serif;
$font-semibold: "Barlow", "Arial", sans-serif;
$font-regular:  "Barlow", "Arial", sans-serif;
$font-RobotoLight:  "Roboto", "Arial", sans-serif;
$font-RobotoRegular:  "Roboto", "Arial", sans-serif;

$header-bg: #0134a0;
$color-accent: #ffffff;

$tablet: 767px;
$desktop: 1279px;

$mobile-padding: 2.5rem;
$tablet-padding: 3.5rem;
