$font-bold: "BarlowBold", "Arial", sans-serif;
$font-medium: "BarlowMedium", "Arial", sans-serif;
$font-semibold: "BarlowSemiBold", "Arial", sans-serif;
$font-regular:  "BarlowRegular", "Arial", sans-serif;
$font-RorotoLight:  "RobotoLight", "Arial", sans-serif;

$header-bg: #0134a0;
$color-accent: #ffffff;

$tablet: 767px;
$desktop: 1279px;

$mobile-padding: 1.5rem;
$tablet-padding: 2.5rem;
