@import "vars";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body * {
  color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  display: grid;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

h1, h2,h3, p, ul {
  @include clear;
}

.divider {
  display: flex;
  width: 148px;
  height: 0.4rem;
  margin-bottom: 13.5rem;
  background-color: #33cbcc;

  span:first-of-type {
    display: block;
    margin-left: auto;
    width: 1rem;
    background-color: #032c9e;
  }

  span:nth-of-type(2) {
    width: 1em;
    background-color: #6aff7f;
  }
}

@import "blocks/header";
@import "blocks/introduction";
@import "blocks/buttons";
@import "blocks/performance";
@import "blocks/albums";
@import "blocks/social";
// ======media queries============
@import "media";
