@import "vars";
@import "mixins";
@import "fonts";
@import "library";

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body * {
  color: #ffffff;
}

main {
  overflow: hidden;
  margin-top: -1px;
  background-color: #0f152c;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  display: grid;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

h1, h2, h3, p, ul {
  @include clear;
}

.divider {
  width: 148px;
  height: 0.4rem;
  margin-bottom: 13.5rem;
  background-color: #33cbcc;

  span:first-of-type {
    display: block;
    margin-left: auto;
    width: 1rem;
    background-color: #032c9e;
  }

  span:nth-of-type(2) {
    width: 1em;
    background-color: #6aff7f;
  }
}

.hover {
  padding: 1.05rem 1.25rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: padding 0.2s, border-color 0.3s;

  &::after {
    @include pseudo-el;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    border-right: 1px solid transparent;
    transition: height 0.3s, border-color 0s;
  }

  &::before {
    @include pseudo-el;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 0;
    border-left: 1px solid transparent;
    transition: height 0.3s, border-color 0s;
  }

  &:hover::before,
  &:hover::after {
    height: 100%;
    transition-delay: 0.1s;
    border-color: #ffffff;
  }

  &:hover::before {
    bottom: 0;
  }

  &:hover::after {
    height: 100%;
  }

  &:hover {
    border-color: #ffffff;
    outline: none;
  }

  &.current {
    border: 0;

    &:hover::before,
    &:hover::after {
      border: 0;
    }
  }
}

@import "blocks/header";
@import "blocks/menu";
@import "blocks/introduction";
@import "blocks/buttons";
@import "blocks/performance";
@import "blocks/albums";
@import "blocks/social";
@import "blocks/posts";
@import "blocks/news";
@import "blocks/signup";
@import "blocks/footer";
// ======media queries============
@import "media";
