@import "vars";
@import "mixins";
@import "fonts";

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body * {
  color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  display: grid;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

h1, h2 {
  @include clear;
}

@import "blocks/header";
@import "blocks/introduction";
@import "blocks/buttons";
// ======media queries============
@import "media";
